@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
  text-indent: 0.5rem;
  padding-block: 0.2rem;
}
